[submodule "jslib/requirejs"]
	path = jslib/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "jslib/underscore"]
	path = jslib/underscore
	url = https://github.com/documentcloud/underscore.git
